* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar settings */

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar .navbar-collapse .navbar-nav li {
    font-size: 1.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-weight: bold;
    text-shadow: none;
    font-family: 'Noto Serif', serif;
}

.navbar .navbar-collapse .navbar-nav li:hover {
    background: linear-gradient(120deg, #FDB777, #FD9346);
    font-weight: 600 !important;
}

.navbar .navbar-collapse .navbar-nav li a:hover {
    color: white !important;
}

.navbar .navbar-collapse .navbar-nav .activeHome {
    background: linear-gradient(120deg, #FDB777, #FD9346);
    font-weight: 600 !important;
}

.navbar .navbar-collapse .navbar-nav .activeHome:hover {
    background: linear-gradient(120deg, #FD9346, #FDB777);
}

.navbar .navbar-collapse .navbar-nav .activeHome a {
    color: white;
}

.navbar .navbar-collapse .navbar-nav li .modal-btn {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.55);
    font-weight: bold;
    text-shadow: none;
    font-family: 'Noto Serif', serif;
}

.navbar .navbar-collapse .navbar-nav li .modal-btn:hover {
    color: white;
}

.navbar .navbar-collapse .navbar-nav li .modal-btn:focus {
    outline: none;
    box-shadow: none;
    border: none !important;
}

.navbar .navbar-collapse .navbar-nav li .modal-btn:active {
    outline: none;
    box-shadow: none;
    border: none !important;
}

.navbar .navbar-collapse .navbar-nav li .modal-btn.active {
    outline: none;
    box-shadow: none;
    border: none !important;
}

.addblnc-btn {
    background: linear-gradient(120deg, #FDB777, #FD9346);
    border: none;
    font-weight: 500 !important;
    font-size: 17px !important;
    color: white !important;
}

.addblnc-btn:hover {
    background: linear-gradient(120deg, #FD9346, #FDB777);
}

/* SignUp/LogIn */
.box1 .card {
    box-shadow: 3px 3px 10px #e6e4e4, -3px -3px 10px #e6e4e4;
}

.btn:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #FD9346;
}

.box1 .card .card-body form input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #FD9346;
}

.box1 .card .card-body form textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #FD9346;
}

.box1 .card .card-body form select:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #FD9346;
}

.SignUp-button {
    background: linear-gradient(120deg, #FDB777, #FD9346);
    border: none;
    /* border-radius: 45px !important;
    padding: 5px 10px 5px 10px !important; */
    font-weight: bold !important;
    font-size: 20px !important;
}

.LogIn-button:hover {
    background: linear-gradient(120deg, #FD9346, #FDB777);
}

.LogIn-button {
    background: linear-gradient(120deg, #FDB777, #FD9346);
    border: none;
    /* border-radius: 45px !important;
    padding: 5px 10px 5px 10px !important; */
    font-weight: bold !important;
    font-size: 20px !important;
}

.SignUp-button:hover {
    background: linear-gradient(120deg, #FD9346, #FDB777);
}

.box1 .card .card-footer p {
    font-size: 17px;
    font-family: 'Noto Serif', serif;
    color: #FD9346;
}

.box1 .card .card-footer p a {
    color: black;
    font-weight: 500 !important;
}

/* tabs */
.tabs-links .nav .nav-item .nav-link {
    color: black !important;
}

.tabs-links .nav .nav-item .nav-link:hover {
    background: linear-gradient(120deg, #FDB777, #FD9346);
    color: white !important;
}

.tabs-links .nav .nav-item .active {
    background: linear-gradient(120deg, #FDB777, #FD9346);
    color: white !important;
}

/* tabs Cards */
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.tab-content .tab-pane .card .progress-bar {
    background-color: #FD9346;
}

.tab-content .tab-pane .card .embed-responsive .card-img-top {
    object-fit: cover;
}

.tab-content .tab-pane .card .card-body input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #FD9346;
}

.tab-content .tab-pane .card .card-footer a {
    text-decoration: none;
    color: black;
    font-size: 18px !important;
    font-weight: 500;
}

.tab-content .tab-pane .cutom-donation input:focus {
    outline: none;
    box-shadow: 3px 3px 6px #eeecec, -3px -3px 6px #eeecec;
    /* border: 1px solid #FD9346; */
}

.tab-content .tab-pane .cutom-donation input {
    border: 0;
    box-shadow: 3px 3px 6px #eeecec, -3px -3px 6px #eeecec;
}

.detail-btn {
    background: linear-gradient(120deg, #FDB777, #FD9346);
    border: none;
    color: white !important;
    font-weight: 500 !important;
    font-size: 15px !important;
}

.detail-btn:hover {
    background: linear-gradient(120deg, #FD9346, #FDB777);
}

.btn-option {
    border: 2px solid #FD9346 !important;
}

.btn-option:focus {
    outline: none;
    box-shadow: none;
}

/* donation page */
.donation-card .card .progress-bar {
    background-color: #FD9346;
}

.cutom-donation {
    /* border: 1px solid #FD9346 !important; */
    border: 0 !important;
    box-shadow: 2px 2px 5px #eeecec, -2px -2px 5px #eeecec !important;
}

.cutom-donation input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #FD9346;
}

/* footer */
.Footer {
    /* position: fixed; */
    background-color: #FD9346;
    height: 50px;
    width: 100%;
}