{% include 'header.html' %}
<title>Claim Replies</title>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <p class="display-6 text-center fw-bold my-2">Claim Replies</p>
    </div>

    <!-- Left Side -> Create Post Box -->
    <div class="row">
        <div class="col-md-4 col-12 mt-4" id="post-form">
            <div class="card bg-light shadow border border-light ms-5" style="width: 83%;">
                <h5 class="card-title mt-3 text-center">Create New Reply</h5>
                <form method="post" action="/create_reply_to_claim/{{claim[0][0]}}">
                    <div class="card-body" style="padding: 10px;">
                        <div>
                            <label for="post-details" class="form-label">Details</label>
                            <textarea class="form-control shadow-sm" id="post-details" aria-describedby="PostDetails"
                                name="reply_text" placeholder="Any Details here!" cols="20" rows="5"  {% if session['user'] %} onkeyup="unlock_btn(this.id);" {% endif %}></textarea>
                        </div>
                        <div class="mt-3">
                            <label for="post-select" class="form-label">Type</label>
                            <select class="form-select shadow-sm" aria-label="Default select example"
                                name="reply_relation">
                                <option value="1" selected>Clarification</option>
                                <option value="2">Supporting</option>
                                <option value="3">Counter Argument</option>
                            </select>
                        </div>
                    </div>

                    <div class="footer mt-2 mb-1 px-2">
                        <div class="save-comment mb-1">
                            <button type="submit" id="submit_btn" disabled 
                                style="background-color: rgb(95, 236, 210); color: black; font-weight: 400;"
                                class="shadow-sm">Create Reply</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Right Side -> Show Posts -->
        <div class="col-md-8 col-12">
            <!-- Posts Section -->
            <div class="row mt-4">

                <!-- POSTS -->
                <div class="posts">
                    {% if replies %}
                    {% for reply in replies %}
                    <!-- 1st post start -->
                    <div class="row single-post trending mb-3">
                        <div class="col-8 post-link shadow-sm border border-1 py-2" style="height: auto !important;">
                            <div class="postTitle">
                                <span class="fw-bold post-title-text">{{reply[15]}}</span>
                            </div>
                            <div class="postDetails my-2">
                                <div class="truncate" style="-webkit-line-clamp: 2;">{{reply[13]}}</div>
                            </div>
                            <div class="reaction mt-3">
                                <div class="time-stamp">{{reply[4]}}</div>
                                <div class="reply ms-2">
                                    <a id="Reply" href="/reply_to_reply/{{reply[10]}}">Reply</a>
                                </div>
                            </div>
                            <div class="claim_type my-2">
                                {% if reply[9] == 1 %}
                                <button type="button" class="btn btn-info">Clarification</button>
                                {% elif reply[9] == 2 %}
                                <button type="button" class="btn btn-success">Supporting</button>
                                {% else %}
                                <button type="button" class="btn btn-danger">Counter Argument</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- 1st post ends -->
                    {% endfor %}
                    {% else %}
                    <h2>No Replies on this claim!</h2>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

        <script src="../static/assets/bubbler-master/src/bubbler.min.js"></script>
        <script src="https://use.fontawesome.com/bd48d6d264.js"></script>
        <script src="../static/js/script.js"></script>
</body>

</html>