<div class="">
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold display-2" href="/">Discussion Forum</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item activeHome me-1">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    {% if session['user'] %}
                    <li class="nav-item">
                        <a href="/logout" style="text-decoration: none; color:black">
                            <button type="button" class="btn" >
                                Logout
                            </button>    
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Signup/Signin
                        </button>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>

    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#signUp"
                                type="button" role="tab" aria-controls="profile" aria-selected="true">Signup</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#signIn"
                                type="button" role="tab" aria-controls="home" aria-selected="false">Signin</button>
                        </li>
                    </ul>
                    <div class="tab-content signin_tab" id="myTabContent">

                        <!-- Signup Form -->
                        <div class="tab-pane fade" id="signUp" role="tabpanel" aria-labelledby="home-tab">
                            <form action="/signup" method="post">
                                <div class="form-group my-4">
                                    <input type="text" class="form-control" id="username" name="username"
                                        aria-describedby="usernameHelp" placeholder="Username">
                                </div>
                                <div class="form-group my-4">
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Password">
                                </div>
                                <div class="form-group my-4">
                                    <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                                        placeholder="Confirm Password">
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Create Account</button>

                            </form>
                        </div>

                        <!-- Login Form -->
                        <div class="tab-pane fade show active" id="signIn" role="tabpanel" aria-labelledby="contact-tab">
                            <form action="/signin" method="post">
                                <div class="form-group my-4">
                                    <input type="text" class="form-control" id="username" name="username"
                                        aria-describedby="usernameHelp" placeholder="Username">
                                </div>
                                <div class="form-group my-4">
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Log In</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <script>
        alert("{{message}}")
    </script>
      <!-- <li>{{ message }}</li> -->
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}