{% include 'header.html' %}

<title>Ataa | Login</title>
<script>
    $(document).ready(function () {
        $('#login-navbar').addClass('activeHome');
    });
</script>

<body>
    {% include 'navbar.html' %}

    <div class="box1">
        <div class="row justify-content-center align-items-center p-0 m-0">
            <div class="col-8 align-self-center">
                <div class="card mx-auto justify-content-center border-0 mt-5" style="width: 23rem;">
                    <div class="card-header py-2 text-center">
                        <img src="../static/asset/img/new account-logo.png" class="img-fluid mx-auto my-1"
                            style="height: 50px; width: 50px;" alt="" srcset="">
                        <h5 class="card-title fw-bold mt-2 mb-1">Login</h5>
                    </div>
                    <div class="card-body">
                        <form action="/login" method="post">
                            <div class="mb-2">
                                <label for="InputEmail" class="form-label fw-bold">Email address</label>
                                <input type="email" class="form-control" id="InputEmail" name="email" required
                                    aria-describedby="email" placeholder="example@email.com">
                            </div>
                            <div class="mb-2">
                                <label for="InputPassword" class="form-label fw-bold">Password</label>
                                <input type="password" class="form-control" id="InputPassword" name="password" required
                                    placeholder="*************">
                            </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn LogIn-button w-100 ">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <p>Do not have an account? <a href="/signup">Signup</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}