{% include 'header.html' %}
<title>Claims</title>

<body>
    {% include 'navbar.html' %}
    <div class="row  me-0">
        <div class="col-12 text-center p-2 mt-3">
            <span class="fw-bold p-2 shadow-sm gradient-text"
                style="font-size: 2rem; border-radius: 10px; border-right: 1px inset #29C1A3; border-top: 2px outset #3AAB9F; border-left: 2px outset #3EC7AF; border-bottom: 1px inset #3DB5A8;">{{topic[0][1]}}</span>
        </div>
    </div>

    <!-- Left Side -> Create Post Box -->
    <div class="row">
        <div class="col-md-4 col-12 mt-4" id="post-form">
            <div class="card bg-light shadow ms-5" style="width: 83%;">
                <h5 class="card-title mt-3 text-center fw-bold">Create New Claim</h5>
                <hr class="w-75 mx-auto">
                <form action="/create_claim/{{topic[0][0]}}" method="post">
                    <div class="card-body" style="padding: 10px;">
                        <div>
                            <label for="post-details" class="form-label fw-bold">Claim Text</label>
                            <textarea style="border: none; outline: none;" class="form-control shadow-sm"
                                name="claim_text" id="post-details" aria-describedby="PostDetails"
                                placeholder="Any Details here!" cols="20" rows="5" {% if session['user'] %}
                                onkeyup="unlock_btn(this.id);" {% endif %}></textarea>
                        </div>
                        <div class="my-3">
                            <label for="post-select" class="form-label fw-bold">Select Claims to relate</label>
                            <select style="border: none; outline: none;" class="form-select shadow-sm"
                                aria-label="Default select example" name="reply_relation">
                                <option value="1" selected>select claim</option>
                                <option value="2">Lorem ipsum dolor sit amet</option>
                                <option value="3">Lorem ipsum dolor sit amet</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="post-select" class="form-label fw-bold">Type</label>
                            <select style="border: none; outline: none;" class="form-select shadow-sm"
                                aria-label="Default select example" name="reply_relation">
                                <option value="1" selected>Clarification</option>
                                <option value="2">Supporting</option>
                                <option value="3">Counter Argument</option>
                            </select>
                        </div>
                    </div>
                    <div class="footer my-1 px-2">
                        <div class="save-comment mb-1">
                            <button type="submit" id="submit_btn">Create Claim</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Right Side -> Show Posts -->
        <div class="col-md-8 col-12">
            <!-- Posts Section -->
            <div class="row mt-4">

                <!-- POSTS -->
                <div class="posts">

                    {% if claims %}
                    {% for claim in claims %}
                    <!-- 1st post start -->
                    <div class="row single-post trending mb-3 me-0">
                        <div class="col-8 post-link shadow-sm py-2" style="border-radius: 10px;">
                            <div class="postTitle">
                                <span class="fw-bold post-title-text">{{claim[6]}}</span>
                            </div>
                            <div class="postDetails my-2">
                                <div class="truncate" style="-webkit-line-clamp: 2;">{{claim[3]}}</div>
                            </div>
                            <div class="reaction mt-3">
                                <div class="time-stamp">{{claim[4]}}</div>
                                <div class="reply ms-2">
                                    <a id="Reply" href="/claim_replies/{{claim[0]}}">Reply</a>
                                </div>
                            </div>
                            <div class="my-3">
                                <details>
                                    <summary>Related Claims</summary>
                                    <div class="table-wrapper-scroll-y my-custom-scrollbar border border-1 shadow-sm rounded-1 my-2">
                                        <table class="table table-bordered table-responsive">
                                            <tbody>
                                                <!-- 1st claim start -->
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-8 mx-0 px-0">
                                                                <span class="truncate px-3" style="-webkit-line-clamp: 1;">
                                                                    <div class="postTitle">
                                                                        <span
                                                                            class="fw-bold post-title-text">{{claim[6]}}</span>
                                                                    </div>
                                                                    <div class="postDetails">
                                                                        <div class="truncate"
                                                                            style="-webkit-line-clamp: 2;">{{claim[3]}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="reaction mt-1">
                                                                        <div class="time-stamp">{{claim[4]}}</div>
                                                                        <div class="reply ms-2">
                                                                            <a id="Reply"
                                                                                href="/claim_replies/{{claim[0]}}">Reply</a>
                                                                        </div>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="col-3 mx-0 px-0 text-center align-middle">
                                                                <span class="claim_type">
                                                                    <button type="button"
                                                                        class="btn btn-info">claim-type</button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- 1st claim ends -->
    
                                                <!-- 2nd claim start -->
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-8 mx-0 px-0">
                                                                <span class="truncate px-3" style="-webkit-line-clamp: 1;">
                                                                    <div class="postTitle">
                                                                        <span
                                                                            class="fw-bold post-title-text">{{claim[6]}}</span>
                                                                    </div>
                                                                    <div class="postDetails">
                                                                        <div class="truncate"
                                                                            style="-webkit-line-clamp: 2;">{{claim[3]}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="reaction mt-1">
                                                                        <div class="time-stamp">{{claim[4]}}</div>
                                                                        <div class="reply ms-2">
                                                                            <a id="Reply"
                                                                                href="/claim_replies/{{claim[0]}}">Reply</a>
                                                                        </div>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="col-3 mx-0 px-0 text-center align-middle">
                                                                <span class="claim_type">
                                                                    <button type="button"
                                                                        class="btn btn-info">claim-type</button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- 2nd claim ends -->

                                                <!-- 3rd claim start -->
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-8 mx-0 px-0">
                                                                <span class="truncate px-3" style="-webkit-line-clamp: 1;">
                                                                    <div class="postTitle">
                                                                        <span
                                                                            class="fw-bold post-title-text">{{claim[6]}}</span>
                                                                    </div>
                                                                    <div class="postDetails">
                                                                        <div class="truncate"
                                                                            style="-webkit-line-clamp: 2;">{{claim[3]}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="reaction mt-1">
                                                                        <div class="time-stamp">{{claim[4]}}</div>
                                                                        <div class="reply ms-2">
                                                                            <a id="Reply"
                                                                                href="/claim_replies/{{claim[0]}}">Reply</a>
                                                                        </div>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="col-3 mx-0 px-0 text-center align-middle">
                                                                <span class="claim_type">
                                                                    <button type="button"
                                                                        class="btn btn-info">claim-type</button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- 3rd claim ends -->
    
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </details>
                            </div>
                        </div>
                    </div>
                    <!-- 1st post ends -->
                    {% endfor %}
                    {% else %}
                    <h2>No Claims related to this topic!</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script src="../static/assets/bubbler-master/src/bubbler.min.js"></script>
    <script src="https://use.fontawesome.com/bd48d6d264.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>